body{
    display:flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: black;
    
}

.instrument{
    border: 1px solid black;
    display: flex;
    height: auto;
    width: 30vw;
    justify-content: center;

}

.box{
    height: 99.9vh;
    margin: 0px;
    width: .07vw;
    border-left: 100px solid black;
    justify-content: center;
    
}



#c{
    background-color: red;
    height: 5vh;
    border-bottom: 1px solid red;
    

}

#d{
    background-color: orange;
    height: 15vh;
    border-bottom: 1px solid orange;
}

#e{
    background-color: yellow;
    height: 20vh;
    border-bottom: 1px solid yellow;
}

#f{
    background-color: green;
    height: 65vh;
    border-bottom: 1px solid green;
    

}

#g{
    background-color: blue;
    height: 30vh;
    border-bottom: 1px solid blue;

}

#a{
    background-color: indigo;
    height: 25vh;
    border-bottom: 1px solid indigo

}

#b{
    background-color: violet;
    height: 80vh;
    border-bottom: 1px solid violet;
}
